<nav>
    <ul>
        <li><a>検索</a></li>
        <%= link_to "login", login_path %>
        <%= link_to "logout", logout_path, method: :delete %>
        <li><a>企業用ページ</a></li>
        <li><b>ランキング</b></li>
    </ul>
</nav>