<nav>
    <ul>
    　　<li><%= link_to "検索", "/searches/new" %></li>
        <%= link_to "login", login_path %>
        <%= link_to "logout", logout_path, method: :delete %>
        <li><a>企業用ページ</a></li>
        <li><b><%= link_to "ランキング",></b></li>
    </ul>
</nav>