<ul>
    <b>　ホーム</b><br>
    <b>　話題を検索</b><br>
    <b>　通知</b><br>
    <b>　メッセージ</b><br>
    <b>　ブックマーク</b><br>
    <b>　リスト</b><br>
    <b>　プロフィール</b><br>
    <b>　もっと見る</b><br>
    <a href="/tweets/new">ツイートする</c></a>
</ul>