<div class='tops'>
  <div class='container'>
    <div style="background-image: url(../assets/images/cat.jpg);">
    </div>
  </div>
</div>
aiueo

ローソン

<br><%= link_to "ユーザ登録", login_path %><br>
<%= link_to '企業用', corporate_login_path %><br>